* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding: .5rem;
}

img {
  width: 200px;
  height: auto;
}

/* header header */
header {
  width: 100%;
  max-width: 1110px;
  margin: .2rem auto;
  background-image: url('../images/stocksnap-leafs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: .9rem;
  font-family: Roboto, sans-serif;
}

header .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-height: 100vh;
  justify-content: space-between;
}

header .container .navbar {
  display: flex;
  padding: .5rem 1rem;
  color: #fff;
  align-items: center;
}

header .container .navbar ul {
  list-style: none;
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar ul li{
  background-color: #ffffff33;
  backdrop-filter: blur(10px);
  width: 80px;
  text-align: center;
  border-radius: .5rem;
}

.navbar ul li a {
  font-size: .8rem;
  font-weight: bold;
  color: inherit;
  text-decoration: none; 
}

.navbar ul li:hover {
  background-color: #fff;
  color: #252525;
  cursor: pointer;
}
/* header header */


header .container .heading-information {
  align-self: center;
  padding: 3.5rem 5.5rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Roboto, sans-serif;

}

header .container .heading-information .top-head {
  font-size: 1.3rem;
  font-weight: bold;
}

header .container .heading-information .main-heading {
  font-size: clamp(40px, 20vw, 200px);
  font-weight: bold;
  font-family: Outfit, sans-serif;
  text-shadow: 5px 5px 5px #0a0a0a;
}

header .container .heading-information .description {
  color: #ffffff9a;
  font-size: 1rem;
  text-align: center;
}

